{% extends 'base.html' %}

{% block content %}
<div>
    <h3>Add things to the database</h3>
    <div><br><a class="btn btn-secondary" href="{% url 'aisle' %}">Add an aisle</a>
        <a class="btn btn-secondary" style="background-color: rgb(67, 43, 202);" href="{% url 'aisle_list' %}">List all
            Aisles</a>
        <br>
        <br> <a class="btn btn-secondary" href="{% url 'food' %}">Add a food</a> <a class="btn btn-secondary"
            style="background-color: rgb(67, 43, 202);" href="{% url 'food_list' %}">List all
            Foods</a><br>
        <br><a class="btn btn-secondary" href="{% url 'food_cat' %}">Add a food category</a> <a
            class="btn btn-secondary" style="background-color: rgb(67, 43, 202);" href="{% url 'food_cat_list' %}">List
            all
            food categories</a><br>
        <br><a class="btn btn-secondary" href="{% url 'recipe_book' %}">Add a recipe book</a> <a
            class="btn btn-secondary" style="background-color: rgb(67, 43, 202);"
            href="{% url 'recipe_book_list' %}">List all
            recipe books</a><br>
        <br> <a class="btn btn-secondary" href="{% url 'recipe_cat' %}">Add a recipe category</a> <a
            class="btn btn-secondary" style="background-color: rgb(67, 43, 202);"
            href="{% url 'recipe_cat_list' %}">List all
            recipe categories</a><br>
       
    </div>
</div>
{% endblock %}

{% block content2 %}
<div>
    <a class="btn btn-secondary" href="{% url 'home' %}" type="button">Home</a>

</div>
{% endblock %}