{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div class='content-section'>
    <form method="POST">
        {% csrf_token %}
        <fieldset class='form-group'>
            <legend class="border-bottom mb-4">Choose from the Recipes Below {{ object.pk }}</legend>
            {{ recipe_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class='btn btn-outline-info' type='submit'>Submit Recipe to the List</button>
            <a class='btn btn-outline-info float-right' type='button' href=" {% url 'start_recipe' %}">Make New
                Recipe</a>

        </div>
    </form>
</div>
<div class='content-section'>
    <form method="POST">
        {% csrf_token %}
        <fieldset class='form-group'>
            <legend class="border-bottom mb-4">Add an Item to the List</legend>
            {{ item_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class='btn btn-outline-info' type='submit'>Submit Item to the List</button>
        </div>
    </form>
</div>

{% endblock %}
{% block content2 %}
 <a class="btn btn-secondary" href="{% url 'choose_list' %}">Back</a>
<h1>{{ list_name }}</h1>
<h3>Recipes</h3>
{% for recipe in recipe_list %}
<li>{{ recipe.recipe_from_list }} x {{ recipe.recipe_quantity }}</li>
{% endfor %}

<br>
<h3>Grocery List</h3>
{% for item in ingredients %}
<li>{{ item.food_name }} x {{ item.quantity }} {{ item.quantity_unit_name }}</li>
{% endfor %}
{% if list_name.pk %}
<br><a href="{% url 'print_list' pk=list_name.pk %}" class="btn btn-outline-info">Print this list</a>
{% endif %}

{% endblock %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}