{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div>
    <h2>All of the Recipe Books</h2><br>


    {% for recipe_book in object_list %}
    <article class="media content-section">
        <a href="{{ recipe_book.recipe_book_image.url }}"><img class="rounded-circle article-img"
                src="{{ recipe_book.recipe_book_image.url }}"></a>
        <div class="media-body">
            <h3>{{ recipe_book }}</h3>
            {% if is_paginated %}
            <a class="btn btn-secondary" style="background-color: red;"
                href="{% url 'recipe_book_delete' pk=recipe_book.pk %}?next={{current_page}}">Delete
                {{recipe_book}}</a>
            <a class="btn btn-secondary" style="background-color: rgb(10, 124, 0);"
                href="{% url 'recipe_book_update' pk=recipe_book.pk %}?next={{current_page}}">Update
                {{recipe_book}}</a>
            {% else %}
            <a class="btn btn-secondary" style="background-color: red;"
                href="{% url 'recipe_book_delete' pk=recipe_book.pk %}">Delete
                {{recipe_book}}</a>
            <a class="btn btn-secondary" style="background-color: rgb(10, 124, 0);"
                href="{% url 'recipe_book_update' pk=recipe_book.pk %}">Update
                {{recipe_book}}</a>
                {% endif %}
        </div>
    </article><br>
    {% endfor %}
    {% if is_paginated %}

    {% if page_obj.has_previous %}
    <a class="btn btn-outline-info mb-4" style="border-color:black" href="?page=1">First</a>
    <a class="btn btn-outline-info mb-4" style="border-color:black"
        href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
    <a class="btn btn-info mb-4" style="border-color:black" href="?page={{ num }}">{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%} <a class="btn btn-outline-info mb-4"
        style="border-color:black" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" style="border-color:black"
            href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" style="border-color:black"
            href="?page={{ page_obj.paginator.num_pages }}">Last</a>

        {% endif %}
        {% endif %}
        <a class="btn btn-secondary" href="{% url 'home_admin' %}">Back</a>

</div>

{% endblock %}

{% block content2 %}
<div class="content-section">
<h2>Quick View of All Recipe Books</h2>
<p class="article-content"></p>{% for recipe_book in object_all %}
<li>{{ recipe_book }}</li>
{% endfor %}
</p>
</div>
{% endblock %}