{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div class='content-section'>
    <h2>All of the Aisles</h2>


    {% for obj, aisle in aisles.object_list %}

    <div class="table" style="border-style: solid;border-width: 3px;border-color: black;"><br>
        <h3>{{ aisle }}</h3>
        <a class="btn btn-secondary" style="background-color: red;" href="{% url 'aisle_delete' pk=aisle.pk %}?next={{current_page}}">Delete
            {{aisle}}</a>
        <a class="btn btn-secondary" style="background-color: rgb(10, 124, 0);"
            href="{% url 'aisle_update' pk=aisle.pk %}?next={{current_page}}">Update
            {{aisle}}</a>

    </div>

    {% endfor %}


    {% if aisles.has_previous %}
    <a class="btn btn-outline-info mb-4" style="border-color:black" href="?page=1">First</a>
    <a class="btn btn-outline-info mb-4" style="border-color:black"
        href="?page={{ aisles.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in aisles.paginator.page_range %}
    {% if aisles.number == num %}
    <a class="btn btn-info mb-4" style="border-color:black" href="?page={{ num }}">{{ num }}</a>
    {% elif num > aisles.number|add:'-3' and num < aisles.number|add:'3'%} <a class="btn btn-outline-info mb-4"
        style="border-color:black" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
        {% endfor %}

        {% if aisles.has_next %}
        <a class="btn btn-outline-info mb-4" style="border-color:black"
            href="?page={{ aisles.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" style="border-color:black"
            href="?page={{ aisles.paginator.num_pages }}">Last</a>

        {% endif %}

        <a class="btn btn-secondary" href="{% url 'home_admin' %}">Back</a>
</div>

{% endblock %}

{% block content2 %}
<div class="content-section">
<h2>Quick View of All Foods</h2>
<p class="article-content"></p>{% for obj, aisle in aisles.object_list %}
<li>{{ aisle }}</li>
{% endfor %}
</p>
</div>
{% endblock %}