{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div class='content-section'>
    <h2>All of the Food Categories</h2>
    {% for food_cat in object_list %}
    <div class="table" style="border-style: solid;border-width: 3px;border-color: black;"><br>
        <h3>{{ food_cat }}</h3>
        {% if is_paginated %}
        <a class="btn btn-secondary" style="background-color: red;"
            href="{% url 'food_cat_delete' pk=food_cat.pk %}?next={{current_page}}">Delete
            {{food_cat}}</a>
        <a class="btn btn-secondary" style="background-color: rgb(10, 124, 0);"
            href="{% url 'food_cat_update' pk=food_cat.pk %}?next={{current_page}}">Update
            {{food_cat}}</a>
        {% else %}
        <a class="btn btn-secondary" style="background-color: red;"
            href="{% url 'food_cat_delete' pk=food_cat.pk %}">Delete
            {{food_cat}}</a>
        <a class="btn btn-secondary" style="background-color: rgb(10, 124, 0);"
            href="{% url 'food_cat_update' pk=food_cat.pk %}">Update
            {{food_cat}}</a>
            {% endif %}
    </div>
    {% endfor %}
    {% if is_paginated %}

    {% if page_obj.has_previous %}
    <a class="btn btn-outline-info mb-4" style="border-color:black" href="?page=1">First</a>
    <a class="btn btn-outline-info mb-4" style="border-color:black"
        href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
    <a class="btn btn-info mb-4" style="border-color:black" href="?page={{ num }}">{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%} <a class="btn btn-outline-info mb-4"
        style="border-color:black" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" style="border-color:black"
            href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" style="border-color:black"
            href="?page={{ page_obj.paginator.num_pages }}">Last</a>

        {% endif %}
        {% endif %}
        <a class="btn btn-secondary" href="{% url 'home_admin' %}">Back</a>

</div>

{% endblock %}

{% block content2 %}
<div class="content-section">
<h2>Quick View of All Foods</h2>
<p class="article-content"></p>{% for food_cat in object_all %}
<li>{{ food_cat }}</li>
{% endfor %}
</p>
</div>
{% endblock %}