{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div class='content-section'>
    <form method="POST">
        {% csrf_token %}
        <fieldset class='form-group'>
            <legend class="border-bottom mb-4">Add ingredients to the recipe {{ data }}</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class='btn btn-outline-info' type='submit'>Submit</button>

        </div>
    </form>

</div>
<a style="float: right" class="btn btn-secondary" href="{% url 'home' %}">Done</a>
{% endblock %}

{% block content2 %}
<div class="content-section">
    <h2>All of the Ingredients</h2>
    
    <p class="article-content"> {% for ingred in data.ingredients.all %}
        <li>{{ ingred }} x {{ingred.ingredient_quantity}}</li>
        {% endfor %}
    </p>

</div>
{% endblock %}