{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div class='content-section'>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class='form-group'>
            <legend class="border-bottom mb-4">Update a recipe here</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class='btn btn-outline-info' type='submit'>Update</button>
            <a class='btn btn-outline-info float-right' type='button'
                href=" {% url 'add_ingredients' pk=object.pk %}">Add Ingredient</a>
            <a class='btn btn-outline-info float-right' type='button' href=" {% url 'recipe_list' %}">Cancel</a>

        </div>
    </form>
</div>

{% endblock %}

{% block content2 %}
<div class="content-section">
    <h2>All of the Ingredients</h2>
    <p class="article-content"> {% for ingred in data.ingredients.all %}
        <li>{{ ingred }} x {{ingred.ingredient_quantity}}</li>
        {% endfor %}
    </p>

</div>
{% endblock %}