{% extends 'base.html' %}
{% load crispy_forms_tags %}



{% block content %}
<form action="" method="get">

    <fieldset class='form-group'>

        {{ filter.form|crispy }}
    </fieldset>
    <div class="form-group">
        <button class='btn btn-outline-info' type='submit'>Submit</button>


</form>

<div>
    <br>
    {% for obj in filter.qs %}
    <article class="media content-section">
        <a href="{{ obj.recipe_image.url }}"><img class="rounded-circle article-img"
                src="{{ obj.recipe_image.url }}"></a>
        <div class="media-body">
            <p style="font-size: x-large;"><a href="{% url 'recipe_detail' pk=obj.pk %}">{{obj.recipe_name}}</a>
            </p>
            <!-- <p>Instructions: <br>{{ recipe.recipe_instructions }}</p> -->
            <a class="btn btn-secondary" style="background-color: red;"
                href="{% url 'recipe_delete' pk=obj.pk %}?next={{current_page}}">Delete
                {{obj}}</a>
            <a class="btn btn-secondary" style="background-color: rgb(10, 124, 0);"
                href="{% url 'recipe_update' pk=obj.pk %}?next={{current_page}}">Update
                {{obj}}</a>
            <a class="btn btn-secondary" style="background-color: rgb(88, 6, 241);"
                href="{% url 'recipe_to_list' pk=obj.pk %}?next={{current_page}}">Add
                {{obj}} to a List</a>


    </article>


    {% endfor %}
    {% if is_paginated %}

    {% if page_obj.has_previous %}
    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%} <a class="btn btn-outline-info mb-4"
        href="?page={{ num }}">{{ num }}</a>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>

        {% endif %}
        {% endif %}
        <div>
            <a class="btn btn-secondary btm-sm mt-1 mb-1" href="{% url 'home' %}">Done</a>
        </div>
</div>
{% endblock %}