{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<a class="btn btn-secondary" href="{% url 'recipe_list' %}">Back</a>
<br><br>
<div class='content-section'>

    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ recipe.recipe_image.url }}">
        <div class="media-body">
            <h2>{{ recipe.recipe_name }}</h2><br>
            <h3>Rating: {{ recipe.recipe_rating }}</h3>
            <div class="article-metadata">
                <p class="article-content">
                <h4>Recipe Category:</h4> {{ recipe.recipe_category }}</p>
                
                    {% if recipe.recipe_instructions == "" %}
                    {% else %}
                    <p class="article-content"></p>
                <h4>Instructions:</h4> <ol class="numbered-list">
                    <ol class="numbered-list">
                        {% for line in recipe.recipe_instructions_list %}
                          <li>{{ line }}</li>
                        {% endfor %}
                      </ol></p>
{% endif %}
                <p class="article-content">
                <h4>Recipe Book:</h4> <strong>{{ recipe.recipe_location }}</strong> on page
                {{recipe.location_page_number}}
                </p>
                <p class="article-content">
                <h4>Ingredients:</h4> {% for ingred in recipe.ingredients.all %}
                <li>{{ ingred }} x {{ ingred.ingredient_quantity }} {{ ingred.quantity_unit }}</li>
                {% endfor %}
                </p>



            </div>
    </article>
</div>

{% endblock %}